/*[data-md-color-scheme="myscheme"] {*/
/*  --md-primary-fg-color: #a025a9;*/
/*  !*--md-primary-fg-color--light: #ECB7B7;*!*/
/*  !*--md-primary-fg-color--dark: #d98d92;*!*/
/*}*/
/*body {*/
/*    background: #16b2cb;*/
/*    !*background: inherit;*!*/
/*    !*background: initial;*!*/
/*    !*background: revert;*!*/
/*    !*background: revert-layer;*!*/
/*    !*background: unset;*!*/
/*}*/
    /*background: url(https://picsum.photos/1000/800) no-repeat center;*/
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
    /*min-height: 100vh;*/
  /*background: url(https://ic.pics.livejournal.com/miss_hohotyn007/73968878/2926582/2926582_original.jpg) no-repeat center;*/
  /* or, using CSS variables */
